#mi_imagen{
  width: 150px
}
body{
  font-family: 'Open Sans', sans-serif, arial;
  background-color: #828080;
  color: white;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family:"Caveat Brush",Arial,serif ;

}
h1{
  background: url("../images/noisy-texture-200x200-grey.png");
  background-color: #828080;
  color: white;
  }
h4{
    background: url("../images/noisy-texture-200x200-grey.png");
    background-color: #828080;
    color: white;
    }
.alin_cen{
  text-align: center;
}
.img_cen{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary {
    color: #fff;
    background-color: #828080;
    border-color: black;
}
.btn-info{
  color: #fff;
  background-color: #828080;
  border-color: black;
}
